@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact us to order a product or inquire about a custom project!</p>

<p>Jessica Hanke</p>
<p>happylittlelasercompany@gmail.com</p>
<p>806-678-3150 </p>

        <img src="Images/MyCompanyLogo.jpg" alt="Happy Little Laser Company" margin="auto" width="400" height="400" >