@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact us to order a product or inquire about a custom project!</p>

<p>Jessica Hanke
    happylittlelasercompany@gmail.com
    806-678-3150 
</p>
